
.main-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
  min-height: 100vh;
  margin-left: 13%;
  padding-top: 5%;

}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #b6b6b6;
  color: rgb(5, 5, 5);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f1f1f1;
}


.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 1082px) {
  .main-body {
      margin-left: 15%;
      padding: 5%;
  }
}